
name: Aula 2 - CI/CD

on:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-node@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '8.5'

      - run: gradle check

  test:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-node@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '8.5'

      - run: gradle test


  build:
      runs-on: ubuntu-latest
      needs: test
  
      steps:
        - uses: actions/checkout@v4
  
        - name: Setup Java
          uses: actions/setup-node@v4
          with:
            java-version: '17'
            distribution: 'temurin'
  
        - name: Setup Gradle
          uses: gradle/actions/setup-gradle@v3
          with:
            gradle-version: '8.5'
  
        - run: gradle bootJar --info
  
        - name: Upload do artefacto
          uses: actions/upload-artifact@v4
          with:
            name: build-output
            path: dist/