
name: Aula 2 - CI/CD

on:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-node@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '8.5'

      - run: gradle check

      - name: Upload Lint Reports
        uses: actions/upload-artifact@v4
        with:
          name: lint-reports
          path: build/reports/lint-results.html

  test:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-node@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '8.5'

      - run: gradle test

      - name: Upload Test Reports
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: build/reports/test-results.html

  owasp:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-node@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '8.5'

      - run: gradle dependencyCheckAnalyze

      - name: Upload OWASP Reports
        uses: actions/upload-artifact@v4
        with:
          name: owasp-reports
          path: build/reports/dependency-check-report.html

  build:
      runs-on: ubuntu-latest
      needs: owasp
  
      steps:
        - uses: actions/checkout@v4
  
        - name: Setup Java
          uses: actions/setup-node@v4
          with:
            java-version: '17'
            distribution: 'temurin'
  
        - name: Setup Gradle
          uses: gradle/actions/setup-gradle@v3
          with:
            gradle-version: '8.5'
  
        - run: gradle bootJar --info
  
        - name: Upload do artefacto
          uses: actions/upload-artifact@v4
          with:
            name: build-output
            path: reports/